In [28]:
import pandas as pd

In [27]:
def group(arr, idx):
    not_idx = [n for n in range(len(arr[0])) if n not in idx]
    l_not_idx = len(not_idx)
    
    dict_keys = [tuple([i[x] for x in idx]) for i in arr]
    
    uniq_keys = list(dict.fromkeys(dict_keys))
    
    dict_values = [[i[x] for x in not_idx] for i in arr]
    
    output = {}
    
    for i in uniq_keys:
        output[i] = [0] * l_not_idx
    
    for i in range(len(dict_keys)):
        for x in range(l_not_idx):
            output[tuple(dict_keys[i])][x] = output[tuple(dict_keys[i])][x] + dict_values[i][x]
    
    
    return output

In [2]:
"""
def group(arr, idx):
    df.groupby(['idx']).sum()
"""

In [4]:
"""
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]
"""

In [6]:
#df = pd.DataFrame(arr)

In [7]:
#df2 = df.groupby(idx).sum()
#df2

     2   3
0 1
1 6  5  30
8 9  4  11
9 8  7  12

In [14]:
#dictionary = df.groupby(idx).sum().to_dict(orient='index')
#dictionary

{(1, 6): {2: 5, 3: 30}, (8, 9): {2: 4, 3: 11}, (9, 8): {2: 7, 3: 12}}

In [9]:
#a = df2.values.tolist()
#a

[[5, 30], [4, 11], [7, 12]]

In [10]:
#b = df2.index.tolist()
#b

[(1, 6), (8, 9), (9, 8)]

In [11]:
#x = zip(b, a)
#print(dict(x))

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}

In [12]:
"""
def group(arr, idx):
    import pandas as pd
    df = pd.DataFrame(arr)
    df2 = df.groupby(idx).sum()
    dictionary = df.groupby(idx).sum().to_dict(orient='index')
    a = df2.values.tolist()
    b = df2.index.tolist()
    x = zip(b, a)
    return (dict(x))
"""

In [26]:
"""
for pos in range(len(arr)):
    dict_keys = tuple(arr[pos][i] for i in idx)
    print(dict_keys)
"""

(1, 6)
(8, 9)
(9, 8)
(1, 6)

In [ ]:
"""
group(arr, idx) == {
  (1, 6): [5, 30],      # [2 + 3, 10 + 20]
  (8, 9): [4, 11],
  (9, 8): [7, 12]
}
"""